#outerDiv {
    background-color: teal;
    width: 50%;
    height: auto;
    margin-left: 25%;
    display: flex;
    margin-top: 5%;
}
#innerDiv {
    background-color: rgb(151, 6, 44);
    width: 80%;
    height: auto;
    color: white;
    text-align: center;
    margin: 10%;
    padding: 3%;
}

p {
    font-size: 20px;
}